/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}

:root {
  font-family: "Barlow", Georgia, serif;
}

#root {
  display: flex;
  flex: 1 1;
}

#root,
.menus {
  height: 100%;
  width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: block;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding-top: 17vh;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.kartlar {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  scroll-margin: 302px;
}

.title {
  opacity: 0.5;
  font-family: "Barlow", Georgia, serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(17, 18, 34);
}

.sıcak-menu {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  margin-top: 9px;
}

.cay {
  position: relative;
  display: flex;
  flex-direction: column;
}

.product-description-price {
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.product {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  font-family: Barlow, Georgia, serif;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.21;
  color: rgb(17, 18, 34);
}

.description {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  font-family: "Barlow Condensed", Georgia, serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(17, 18, 34);
  opacity: 0.5;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.price {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
  font-family: "Barlow", Georgia, serif;
  font-size: 1.15rem;
  font-weight: 800;
  line-height: 1.19;
  color: rgb(146, 0, 0);
}

.menu-container {
  font-family: "Barlow", Georgia, serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  border: 0 solid #e2e8f0;
  display: flex;
  flex: 1 1 0%;
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 8vw;
}

.icecekler {
  border: 2px solid #800000;
  display: flex;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 140px;
  border-radius: 20px;
  box-shadow: rgb(112 112 112 / 16%) 0px 10px 16px 0px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.gn-note {
  opacity: 0.4;
  font-family: "Barlow Condensed", Georgia, serif;
  font-size: 1rem;
  color: rgb(17, 18, 34);
  margin-bottom: 10px;
}

.scroller {
  z-index: 2;
  top: 8vh;
  position: fixed;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  overflow-x: hidden;
  padding: 35px 0px 25px;
}

.menus {
  display: flex !important;
  flex: 1 1 auto;
}

.menus-img {
  color: transparent;
  display: inline-block;
}

.icecek-resim {
  flex-shrink: 0;
  border-radius: 20px;
  box-shadow: rgb(112 112 112 / 8%) 0px 10px 16px 0px;
  object-fit: cover;
  width: 120px;
  height: 100%;
  min-width: 120px;
}

.about-me {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  position: fixed;
  top: 0px;
  padding: 1rem 1rem 40px;
  width: 100%;
  min-height: 90px;
  max-height: 110px;
  z-index: 1;
  --u: 20px;
	--c1: #a29478;
	--c2: #616c7f;
	--c3: #414c66;
	--gp: 0 80%/ calc(var(--u) * 10) calc(var(--u) * 7.8);
	--dg: 0 25%, #fff0 0 100%;
	--dr: from 45deg at;
	--dl: from -135deg at;
	--du: from -45deg at 50%;
	--dd: from 135deg at 50%;
	background: 
		/*right*/
  conic-gradient(var(--dr) 86% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 76% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 74.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 65% 62%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 63.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 56% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 54.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 50% 62%, var(--c2) var(--dg)) var(--gp),
  /*left*/
  conic-gradient(var(--dl) 14% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 24% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 25.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 35% 62%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 36.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 44% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 45.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 50% 62%, var(--c2) var(--dg)) var(--gp),
  /*up*/
  conic-gradient(var(--du) 19%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 31%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--du) 33%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 43.5%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--du) 45.5%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 55%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--du) 57%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 66%, var(--c2) var(--dg)) var(--gp),
  /*down*/
  conic-gradient(var(--dd) 81%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 69%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 67%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 58%, var(--c2) var(--dg)) var(--gp);
}

.logo {
  margin-top: 6px;
  width: 100px;
  height: 100px;
  z-index: 3;
  max-width: 100%;
  padding: 0;
  border: none;
}

li {
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: justify;
  font-size: 1.8em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  margin-right: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 3;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
   position: fixed;
  left: 100%;
  top: -1em;
  gap: 0;
   flex-direction: column;
  --u: 20px;
	--c1: #a29478;
	--c2: #616c7f;
	--c3: #414c66;
	--gp: 50%/ calc(var(--u) * 10 ) calc(var(--u) * 7.8);
	--dg: 0 25%, #fff0 0 0%;
	--dr: from 45deg at;
	--dl: from -135deg at;
	--du: from -45deg at 50%;
	--dd: from 135deg at 50%;
	background: 
		/*right*/
  conic-gradient(var(--dr) 86% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 76% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 74.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 65% 62%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 63.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 56% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 54.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dr) 50% 62%, var(--c2) var(--dg)) var(--gp),
  /*left*/
  conic-gradient(var(--dl) 14% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 24% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 25.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 35% 62%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 36.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 44% 62%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 45.5% 62%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dl) 50% 62%, var(--c2) var(--dg)) var(--gp),
  /*up*/
  conic-gradient(var(--du) 19%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 31%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--du) 33%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 43.5%, var(--c2) var(--dg)) var(--gp),
  conic-gradient(var(--du) 45.5%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 55%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--du) 57%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--du) 66%, var(--c2) var(--dg)) var(--gp),
  /*down*/
  conic-gradient(var(--dd) 81%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 69%, var(--c3) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 67%, var(--c1) var(--dg)) var(--gp),
  conic-gradient(var(--dd) 58%, var(--c2) var(--dg)) var(--gp);
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    height: 100%;
    display: block;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  .nav-item {
    margin-top: 30vw;
    margin-right: 50vw;
    margin-bottom: -20vw;
    padding: 0%;
    line-height: 1.5rem;
    text-align: justify;
  }

  .nav-menu.active {
    left: 50%;
    display: block;
    height: 100%;
    width: 100%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto);
/**/

.adres {
  font-size: 14px;
  line-height: 1.75em;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 970px;
  padding-right: 1px;
  padding-left: 0;
  background-color: #fff;
}

.iframeAdres {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Barlow", sans-serif;
  color: #666;
  font-size: 14px;
  line-height: 1.75em;
  margin: 0;
  display: flex;
}

h2 {
  font-size: 14px;
}

ion-icon {
  margin-top: 2rem;
  margin-left: 1px;
  color: rgb(103, 47, 47);
  font-size: 40px;
}

@media (max-width: 768px) {
  .iframeAdres {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .adres {
    max-width: 360px;
  }
}

.social-media {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8vw;
}

@media (max-height: 600px) {
  .logo {
    max-width: 100%;
    max-height: 100%;
    border: none;
    padding: 0;
  }
}

@media (max-height: 500px) {
  .logo {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 0;
  }
}

@media (max-height: 768px) {
  .form {
    margin-top: 10vw;
  }
}

@media (max-height: 500px) {
  .about-me {
    max-height: 32vw;
  }
}

/* form baslangıcı */
A .formClass {
  width: 100%;
  height: 75vh;
  background: #da6767;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  box-shadow: rgb(112 112 112 / 16%) 0px 10px 16px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  border: 2px solid #800000;
  margin: auto;
  margin-top: 1em;
}

form h3 {
  opacity: 0.5;
  font-family: "Barlow", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(17, 18, 34);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

form input,
form textarea {
  border: 1px solid #800000;
  margin: 10px 0;
  outline: none;
  background: rgb(112 112 112 / 10%);
  font-family: "Barlow", Georgia, serif;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  resize: none;
}

form button {
  padding: 0.75em;
  background: rgba(128, 0, 0, 1);
  color: #fff;
  font-size: 1.2em;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 8em;
  margin: 20px auto 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  font-family: "Barlow", sans-serif;
}

@media (max-height: 500px) {
  .formClass {
    display: flex;
    margin-left: auto;
    align-self: center;
    margin-top: 2em;
  }
}

.checkbox-hidden {
  display: none;
}

/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/
/*galeri baslangıc*/

.wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}

.media {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 100%;
  background: #fff;
  color: #151e3f;
  transition: all 0.9s ease;
}

.pgaleri {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.media:hover .layer {
  opacity: 1;
  width: 80%;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 600px) {
  .wrapper {
    display: block;
  }
}

@media (max-width: 600px) {
  .media {
    margin-top: 2em;
  }
}

.tablo-img {
  display: flex !important;
  flex: 1 1 auto;
  width: 40em;
  height: 40em;
  align-self: center;
  justify-content: center;
}

.media:hover .tablo-img {
  opacity: 0.3;
  width: 90%;
  transition: all 0.5s ease;
}

@media (max-width: 600px) {
  .tablo-img {
    max-width: 25em;
    max-height: 25em;
  }
}

@media (max-width: 600px) {
  .pgaleri {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    line-height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}