/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
}

:root {
	font-family: "Barlow", Georgia, serif;
}

#root {
	display: flex;
	flex: 1 1;
}

#root,
.menu {
	height: 100%;
	width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	display: block;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	padding-top: 17vh;
	width: 100%;
	-webkit-text-size-adjust: 100%;
}

.sıcak {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Barlow", sans-serif;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	flex-direction: column;
	margin-top: 30px;
	width: 100%;
	scroll-margin: 302px;
}

.title {
	opacity: 0.5;
	font-family: "Barlow", Georgia, serif;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	color: rgb(17, 18, 34);
}

.sıcak-menu {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Barlow", sans-serif;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	margin-top: 9px;
}

.cay {
	position: relative;
	display: flex;
	flex-direction: column;
}

.cay-img {
	-webkit-filter: blur(0);
	filter: blur(0);
	transition: -webkit-filter 0.3s;
	transition: filter 0.3s;
	transition: filter 0.3s, -webkit-filter 0.3s;
	display: flex !important;
	flex: 1 1 auto;
	height: 100%;
	width: 100%;
}

.product-description-price {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 1rem;
}

.product {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	font-family: "Barlow", Georgia, serif;
	font-size: 1.3rem;
	font-weight: 800;
	line-height: 1.21;
	color: rgb(17, 18, 34);
}

.description {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	font-family: "Barlow Condensed", Georgia, serif;
	font-size: 0.85rem;
	font-weight: 200;
	line-height: 1.2;
	color: rgb(17, 18, 34);
	opacity: 0.5;
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.price {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	font-family: "Barlow", Georgia, serif;
	font-size: 1.15rem;
	font-weight: 800;
	line-height: 1.19;
	color: rgb(146, 0, 0);
}
.menuler {
	font-family: "Barlow", Georgia, serif;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	border: 0 solid #e2e8f0;
	display: flex;
	flex: 1 1 0%;
	width: 100%;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0px 8vw;
}

.icecekler {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Barlow", sans-serif;
	border: 2px solid #800000;
	display: flex;
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	width: 100%;
	height: 100px;
	border-radius: 20px;
	box-shadow: rgb(112 112 112 / 16%) 0px 10px 16px 0px;
	background-color: rgb(255, 255, 255);
	margin: 8px 0px;
}

img,
video {
	max-width: 100%;
	height: auto;
}

img {
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Barlow", sans-serif;
	color: transparent;
	box-sizing: border-box;
	border: 0 solid #e2e8f0;
	border-style: solid;
	display: block;
	max-width: 100%;
	opacity: 1;
	transition: opacity 0.3s;
	flex-shrink: 0;
	border-radius: 18px;
	box-shadow: rgba(112, 112, 112, 0.08) 0px 10px 16px 0px;
	object-fit: cover;
	width: 80px;
	height: 80px;
	min-width: 80px;
}

.gn-note {
	opacity: 0.4;
	font-family: "Barlow Condensed", Georgia, serif;
	font-size: 1rem;
	color: rgb(17, 18, 34);
	margin-bottom: 10px;
}

.scroller {
	z-index: 2;
	top: 8vh;
	position: fixed;
	left: 0px;
	right: 0px;
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	overflow-x: hidden;
	padding: 35px 0px 25px;
}

.menus {
	display: flex !important;
	flex: 1 1 auto;
}

.about-me {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	position: fixed;
	top: 0px;
	padding: 1rem 1rem 40px;
	width: 100%;
	min-height: 90px;
	max-height: 110px;
	z-index: 1;
	background: rgb(254, 251, 234);
	background: -moz-linear-gradient(
		255deg,
		rgba(254, 251, 234, 1) 5%,
		rgba(128, 0, 0, 1) 85%
	);
	background: -webkit-linear-gradient(
		255deg,
		rgba(254, 251, 234, 1) 5%,
		rgba(128, 0, 0, 1) 85%
	);
	background: linear-gradient(
		255deg,
		rgba(254, 251, 234, 1) 5%,
		rgba(128, 0, 0, 1) 85%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fefbea",endColorstr="#672f2f",GradientType=1);
}

.logo {
	margin-top: 6px;
	width: 100px;
	height: 100px;
	z-index: 3;
	max-width: 100%;
    padding: 0;
	border: none;
}

li {
	list-style: none;
}

a {
	color: rgb(8, 7, 7);
	text-decoration: none;
	text-align: justify;
	font-size: 1.25rem;
	font-weight: 500;
}

.navbar {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 60px;
}

.nav-branding {
	font-size: 2rem;
}

.nav-link {
	transition: 0.7s ease;
}

.nav-link:hover {
	color: dodgerblue;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: rgb(143, 103, 103);
		width: 100%;
		text-align: center;
		transition: 0.3s;
	}

	.nav-item {
		margin-top: 30vw;
		margin-right: 50vw;
		margin-bottom: -20vw;
		padding: 0%;
		line-height: 1.5rem;
		text-align: justify;
		font-family: "Barlow Condensed", Georgia, serif;
		font-size: 1.5rem;
		font-weight: 800;
	}

	.nav-menu.active {
		left: 50%;
		bottom: -16px;
		top: -16px;
		display: block;
	}
}

/*
Direk o tıklanan burgerden ya sağdan aynı boyutlarla gelsin ya da yukardan gelsin

*/

/*
burgerde satır arası mesafe düzenlenecek
*/

/*
Deneme yapıyorum silinebilirler.
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
/**/


* {
	font-family: "Roboto";
	box-sizing: border-box;
}

.adres {
    font-size: 14px;
    line-height: 1.75em;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 970px;
    padding-right: 1px;
    padding-left: 0;
    background-color: #fff;
}

.iframeAdres {
-webkit-tap-highlight-color: transparent;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
font-family: "Open Sans",sans-serif;
color: #666;
font-size: 14px;
line-height: 1.75em;
margin: 0;
display: flex;

}

h2 {
	font-size: 14px;
}

ion-icon {
	margin-top: 2rem;
	margin-left: 1px;
	color: rgb(103, 47, 47);
	font-size: 40px;
}


.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(
		255deg,
		rgba(254, 251, 234, 1) 5%,
		rgba(103, 47, 47, 1) 85%
	);
	color: #000;
	height: 125px;
	padding: 1em;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu > li {
	margin: 0 1rem;
	overflow: hidden;
}

.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-toggle {
	display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}

.menu-button::before {
	content: "";
	margin-top: -8px;
}

.menu-button::after {
	content: "";
	margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-45deg);
}

@media (max-width: 700px) {
	.menu-button-container {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 0;
		margin-top: 125px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
		border: 1px solid #333;
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: black;
		background-color: #222;
	}
	.menu > li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

@media (max-width:768px) {
 .iframeAdres {
	display: flex;
	justify-content: center;
	margin: 0;
 }
}


@media (max-width:768px) {
	.adres {
	   max-width: 360px;
	}
   }

.social-media {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	gap: 8vw;
}

.form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 5vw;
	text-align: left;
	line-height: 1rem;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 500;
	max-width: 30vw;
}


@media (max-height:600px) {
	.logo {
	max-width: 100%;
	max-height: 100%;
    border: none;
    padding: 0;
	}
}

@media (max-height:500px) {
	.logo {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	padding: 0;
	}
}

@media (max-height:768px) {
	.form {
		margin-top: 10vw;
		
	}
}

@media (max-height:500px) {
	.about-me {
       max-height: 32vw;
	}
}
